.navbar {
    padding: 1rem;
    margin-bottom: 2rem;
}

.navbar-brand {
    width: 250px;
    height: auto;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hotel-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .hotel-img img {
    transition: transform 0.5s ease;
  }
  
  .hotel-img img:hover {
    transform: scale(1.1);
  }
  

  .login-container {
    width: 400px;
    margin: 0 auto;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  /* Estilos adicionales para la barra de navegación y el pie de página */
  

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
.navbar-brand {
    font-size: 1.5rem;
}
.nav-link {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
}

